# Dependencies
node_modules

# Build output
dist

# Logs
*.log
npm-debug.log*

# Editor directories
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Local env files
.env
.env.local
.env.*.local
